<div class="container-right">
  <div class="blog">
    <h3>博客</h3>
    <p>博客总数: <%= @total_count %></p>
    <%= paginate @blogs %>
    <%= link_to "新建", new_blog_path %><br/>
    <%= form_tag '', method: :get do %>
        标题:
        <%= text_field_tag :blog_title, params[:blog_title] %>
        内容:
        <%= text_field_tag :blog_content, params[:blog_content] %>
      <%= submit_tag raw("&#xf002; 查询"), class: "form_submit", class: 'btn btn-secondary btn-sm fa-input' %>
    <% end %>
    <% @blogs.each do |blog| %>
      <div class="each-blog">
        <div class="title">
          <%= blog.title %>
        </div>
        <div class="date">
          <%#= blog.created_at.strftime('%Y-%m-%d %I:%M%p') %>
        </div>
        <div class="desc">
          <%= raw blog.content %>
        </div>
        <div>
          <a href="/blogs/<%= blog.id %>" class="detail">查看全文&gt;&gt; </a>
          <%= link_to raw("编辑&gt;&gt;"), edit_blog_path(:id => blog.id), class: 'detail1' %>
          <%= link_to "删除",blog,:method => :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
